* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 150px;
  background-color: rgb(114, 245, 245);
}

h1,
h4 {
  color: white;
  text-align: center;
}
h1 {
  margin-bottom: 1rem;
}
h4 {
  margin-top: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  background-color: rgb(139, 129, 129);
  padding: 1rem 1rem;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: purple;
}
a:not(:last-child) {
  margin-right: 2rem;
}

section h4 {
  color: black;
  text-align: left;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
section .left {
  flex: 1;
}

section .right {
  flex: 2;
}

.left {
  background-color: rgb(206, 197, 197);
  padding-left: 1rem;
  padding-right: 1rem;
}
.right {
  padding-left: 1rem;
  padding-right: 1rem;
}
.same {
  height: 15rem;
}

img {
  width: 100%;
  height: 5rem;
}
